.heartcoreButton {
  display: inline-flex;
  font-size: 1.1em;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  width: 170px;
  padding: 10px;
  max-height: 40px;
  text-align: center;
  position: relative;
  color: rgba(187, 22, 163, 1);
  background-color: rgba(5, 195, 222, 0.1);
}

.heartcoreButtonSmall {
  display: inline-flex;
  font-size: 1em;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  padding: 5px;
  max-height: 30px;
  text-align: center;
  position: relative;
  color: rgba(187, 22, 163, 1);
}
