.button {
  background-color: #f3f3f3;
  display: inline-flex;
  justify-content: center;
  padding: 5px;
  border: 1px solid #54585a;
  border-radius: 4px;
  min-width: 28px;
  box-sizing: border-box;
  position: relative;
}

.button:link,
.button:visited {
  color: inherit;
  text-decoration: none;
}

.button:hover:not(:disabled) {
  background-color: #dedede;
}

.button:disabled,
.button[disabled] {
  border-color: #a5a5a5;
  color: #989898;
}

.subtle {
  background: transparent;
  padding: 3px;
  border: 0.5px solid #54585a;
  font-style: normal;
  border-radius: 4px;
}

.large {
  font-size: 1.1em;
}

.subtle:hover:not(:disabled) {
  background-color: #f3f3f3;
}
