.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.dialog {
  position: fixed;
  background-color: white;
  z-index: 9999;
  left: 50%;
  top: 50%;
  min-width: 320px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 24px;
  border-radius: 12px;
  text-align: initial;
}
