.tag {
  display: inline-block;
  padding: 2px 5px;
  margin-right: 5px;
  background-color: #898d8d;
  color: #ffffff;
  border-radius: 3px;
  cursor: default;
  position: relative;
}

.deleteBtn {
  background: transparent;
  border: none;
}
