.list {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 8px;
  width: 400px;
  max-width: 100vw;
  margin: 0;
  list-style: none;
  z-index: 9999;
  outline: none;
}

.toast {
  background-color: #d73030;
  padding: 16px;
  color: white;
  border-radius: 4px;
  box-shadow: 0 2px 3px #00000073;
  text-align: left;
  display: flex;
  align-items: center;
}

.closeBtn {
  background: none;
  border: none;
}
