.checkbox {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 14px;
  height: 14px;
  border: 1px solid currentColor;
  border-radius: 2px;
  position: relative;
}

.checkbox:checked {
  border-color: #0074ff;
}

.checkbox:checked::before {
  content: "✓";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0074ff;
  text-align: center;
  line-height: 10px;
  color: white;
}

.checkbox.showErrors:invalid {
  border-color: red;
  box-shadow: 0 0 2px red;
}
