.container {
  position: relative;
  display: inline-block;
}

.inputWithCheckbox {
  padding-right: 4rem;
  width: 100%;
  min-width: 180px;
  box-sizing: border-box;
}

.showLabel {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  font-size: 0.875rem;
}
