.dialog {
  max-height: 80vh;
  overflow-y: auto;
  top: 5vh;
  transform: translate(-50%);
  padding: 36px;
  padding-top: 24px;
}

.closeButton {
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  color: #bb16a3;
}
